<table border="1" cellpadding="0" cellspacing="0" style="border:solid #e7e8ef 3.0pt;font-size:10pt;font-family:Calibri" width="600">
    <tbody><tr style="border:#e7e8ef;padding:0 0 0 0">
        <td style="background-color:#465770;padding-left:15pt" colspan="2">
            <br>
            <img alt="[Safety Impianti]" src="" class=""><br>
            <br>
        </td>
    </tr>
    <tr>
        <td width="25" style="border:white">
            &nbsp;
        </td>
        <td style="border:white">
            <br>
            <h1><span style="font-size:19.0pt;font-family:Verdana;color:black">Gestionale COC-Magazzino Password Reset</span></h1>
            <br>
        </td>
    </tr>
    <tr>
        <td width="25" style="border:white">
            &nbsp;
        </td>
        <td style="border:white">
            <div style="color:#818181;font-size:10.5pt;font-family:Verdana">
                Dear <a href="mailto:{emailCliente}" target="_blank">{emailCliente}</a>,<br>
                <br>
                Thank you for using with Gestionale Safety.<br>
                <br>
                Someone has requested a link to change your password and you can do this clicking on the below or copy and pasting it into your browser.  If you did not request this
                password reset, please feel free to ignore this email.  This link will expire in 24 hours.<br>
                <br>
                <a style="color:#5b9bd5" href="https://gestionaleimpianti/users/reset/{token}" target="_blank" <br>
                <br>
                <br>
                Best regards,<br>
                COC Team<br>
            </div>
        </td>
    </tr>
    <tr>
        <td width="25" style="border:white">
            &nbsp;
        </td>
        <td style="border:white">
            <div style="color:#818181;font-size:9pt;font-family:Verdana">
                <br>
                <br>
            </div>
        </td>
    </tr>
</tbody></table>