<!DOCTYPE html>
<html lang="en">

 <div id="wrapper" ng-controller="HomeController">   
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                            <div class="visual">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" data-value="1349">1.480,00 MOCK</span>
                                </div>
                                <div class="desc"> Totale Articoli Comprati?</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 red">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" data-value="12,5">500,00 MOCK</span>€ </div>
                                <div class="desc"> Totale Articoli Usati ?</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 green">
                            <div class="visual">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" data-value="549">{{totFattureEmesse | currency: "€" : 2}}</span>
                                </div>
                                <div class="desc"> Totale Scadenze </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 purple">
                            <div class="visual">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="details">
                                <div class="number"> 
                                    <span data-counter="counterup" data-value="89"></span>{{totScadenzeFM | currency: "€" : 2}} </div>
                                <div class="desc"> Totale Qualcosa </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
        

    <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-share font-dark hide"></i>
                        <span class="caption-subject font-dark bold">Disponibilità Articoli </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height: 342px;" data-always-visible="1" data-rail-visible="0">
                        <ul class="feeds">
                            <li ng-repeat="scadenzaQty in scadenzeListQty | orderBy: 'qty'">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm" ng-class="scadenzaQty.label">
                                                <i ng-class="scadenzaQty.icon"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc"> {{scadenzaQty.articolo}} 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date"> {{scadenzaQty.qty}} </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-share font-dark hide"></i>
                        <span class="caption-subject font-dark bold">Scadenza Articoli </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height: 342px;" data-always-visible="1" data-rail-visible="0">
                        <ul class="feeds">
                            <li ng-repeat="scadenza in scadenzeList | orderBy: 'dataScadenza'">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm" ng-class="scadenza.label">
                                                <i ng-class="scadenza.icon"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc"> {{scadenza.articolo}} ({{scadenza.qty}} pz)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date"> {{scadenza.dataScadenza}} </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</html>