<div class="modal-header" id="modaleditprimanota">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelEditPrimanotaButton()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Modifica voce/giroconto</h4>
</div>
<div class="modal-body">
    <form role="form" name="editPrimanotaForm" novalidate>
        <fieldset>
            <div class="row">
                <div class="form-group col-sm-12 col-md-5" ng-class="{'has-error':!newPrimanotaForm.datamovimento.$pristine && newPrimanotaForm.datamovimento.$error.required}">
                    <p>Data:</p>
                    <div class="input-group" locale="it" moment-picker="persistent.editPrimanota.datamovimento" format="DD/MM/YYYY" start-view="month">
                        <input type="text" readonly required name="datamovimento" id="datamovimento" 
                        ng-model="persistent.editPrimanota.datamovimento" class="form-control" >
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </div> 
                <div class="form-group col-sm-12 col-md-5" ng-class="{'has-error':editPrimanotaForm.descrizione.$error.required}">
                    <p>Descrizione:</p>
                    <input class="form-control" placeholder="Descrizione" ng-model="persistent.editPrimanota.descrizione" required name="descrizione" type="text">
                </div>          
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-5 form-group" ng-class="{'has-error':editPrimanotaForm.conto.$error.required}">
                    <p>Conto:</p>

                    <select class="form-control input-sm select2-multiple" name="conto" ng-options="account.ID_CONTO as account.DESCRIZIONE for account in accountsListAzienda" ng-model="persistent.editPrimanota.idconto">
                        <option value="">{{labels.select_empty_value}}</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-5 form-group">
                    <p>Cliente/Fornitore:</p>

                    <select class="form-control input-sm select2-multiple" name="cliente" ng-options="customer.ID as customer.NOME for customer in customersList" ng-model="persistent.editPrimanota.cliente">
                        <option value="">{{labels.select_empty_value}}</option>
                    </select>
                </div> 
            </div> 

            <div class="row">
                <div class="col-sm-12 col-md-5 form-group" ng-class="{'has-error':editPrimanotaForm.entrata.$error.required}">
                    <p>Importo in entrata:</p>
                    <input class="form-control" placeholder="importo" ng-required="!persistent.editPrimanota.uscita" ng-model="persistent.editPrimanota.entrata" name="entrata" type="text" awnum="importoPositivo" ng-maxlength="15">
                </div>
                <div class="col-sm-12 col-md-5 form-group" ng-class="{'has-error':editPrimanotaForm.uscita.$error.required}">
                    <p>Importo in uscita:</p>
                    <input class="form-control" placeholder="importo" ng-required="!persistent.editPrimanota.entrata" ng-model="persistent.editPrimanota.uscita" name="uscita"  type="text" awnum="importoPositivo" ng-maxlength="15">
                </div>
                 
            </div>

        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelEditPrimanotaButton()">Chiudi</button>
    <button type="button" class="btn btn-primary" ng-click="editPrimanotaButton()" type="submit">Salva</button>
</div>
