<div class="modal-header" id="modalnewprimanota">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelNewPrimanotaButton()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Aggiungi nuova voce/giroconto</h4>
</div>
<div class="modal-body">
    <form role="form" name="newPrimanotaForm" novalidate>
        <fieldset>
            <div class="row">
                <div class="form-group col-sm-12 col-md-5" ng-class="{'has-error':!newPrimanotaForm.datamovimento.$pristine && newPrimanotaForm.datamovimento.$error.required}">
                    <p>Data:</p>
                    <div class="input-group" locale="it" moment-picker="transient.newPrimanota.datamovimento" format="DD/MM/YYYY" start-view="month">
                        <input type="text" readonly required name="datamovimento" id="datamovimento" 
                        ng-model="transient.newPrimanota.datamovimento" class="form-control" >
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </div> 
                <div class="form-group col-sm-12 col-md-5" ng-class="{'has-error':newPrimanotaForm.descrizione.$error.required}">
                    <p>Descrizione:</p>
                    <input class="form-control" placeholder="Descrizione" ng-model="transient.newPrimanota.descrizione" required name="descrizione" type="text">
                </div>          
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-5 form-group" ng-class="{'has-error':newPrimanotaForm.conto.$error.required}">
                    <p>Conto:</p>
                    <select class="form-control input-sm select2-multiple" name="conto" ng-options="account.ID_CONTO as account.DESCRIZIONE for account in accountsListAzienda" ng-model="transient.newPrimanota.idconto" required>
                        <option value="">{{labels.select_empty_value}}</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-5 form-group">
                    <p>Cliente/Fornitore:</p>
                    <select class="form-control input-sm select2-multiple" name="cliente" ng-options="customer.ID as customer.NOME for customer in customersList" ng-model="transient.newPrimanota.cliente">
                        <option value="">{{labels.select_empty_value}}</option>
                    </select>
                </div> 
            </div> 

            <div class="row">
                <div class="col-sm-12 col-md-5 form-group" ng-class="{'has-error':newPrimanotaForm.entrata.$error.required}">
                    <p>Importo in entrata:</p>
                    <input class="form-control" placeholder="importo" ng-required="!transient.newPrimanota.uscita" ng-model="transient.newPrimanota.entrata" name="entrata" type="text" awnum="importoPositivo" ng-maxlength="15">
                </div>
                <div class="col-sm-12 col-md-5 form-group" ng-class="{'has-error':newPrimanotaForm.uscita.$error.required}">
                    <p>Importo in uscita:</p>
                    <input class="form-control" placeholder="importo" ng-required="!transient.newPrimanota.entrata" ng-model="transient.newPrimanota.uscita" name="uscita"  type="text" awnum="importoPositivo" ng-maxlength="15" >
                </div>
                 
            </div>

        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelNewPrimanotaButton()">Chiudi</button>
    <button type="button" class="btn btn-primary" ng-disabled="newPrimanotaForm.$invalid" ng-click="createNewPrimanotaButton()" type="submit">Salva</button>
</div>
