<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelModificaIndirizzoButton()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Inserisci Nuovo Indirizzo Cliente</h4>
    </div>
    <div class="modal-body">
        <form role="form" name="modificaIndirizzoForm" novalidate> 
            <fieldset>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        {{clienteModel.NOME}}
                    </div>   
                </div>           
    
                <div class="row">
                    <div class="col-sm-12 col-md-8 form-group">
                        <p>Citta:</p>                    
                         <input type="text" name="f1-first-ricerca-comune" 
                            placeholder="Ricerca comune" 
                            id="campo-di-ricerca-comune-cliente"
                            ng-model="persistent.modificaIndirizzo.cittaObject"
                            ng-maxlength="250"
                            ng-change="getComuniWithTypeAhead_1()"
                            class="f1-first-ricerca-comune form-control" 
                            uib-typeahead="comune as comune.NOME for comune in elencoComuni" 
                            typeahead-on-select="onSelectClient_1($item, $model, $label)"                        
                            typeahead-min-length="3">  
                    </div>               
                    <div class="col-sm-12 col-md-1 form-group">
                        <p>Provincia:</p>
                        <input class="form-control" placeholder="" ng-model="persistent.modificaIndirizzo.provincia" name="provincia" type="text" disabled>
                    </div>
                    
                    <div class="col-sm-12 col-md-2 form-group"  ng-class="{'has-error': modificaIndirizzoForm.cap.$invalid && !modificaIndirizzoForm.cap.$pristine}">
                        <p>Cap*:</p>
                        <input class="form-control" placeholder="" name="cap" type="text" disabled
                        ng-model="persistent.modificaIndirizzo.cap" required  ng-maxlength="5">
                    </div>
                </div>            
    
                <div class="row">
                    <div class="col-sm-12 col-md-7 form-group" ng-class="{'has-error': modificaIndirizzoForm.indirizzo.$invalid && !modificaIndirizzoForm.indirizzo.$pristine}">
                        <p>Indirizzo*:</p>
                        <input class="form-control" placeholder="Indirizzo" name="indirizzo" type="text"
                        ng-model="persistent.modificaIndirizzo.indirizzo" required ng-maxlength="500">
                    </div> 
                    <div class="col-sm-12 col-md-5 form-group">
                        <p>Note Extra Indirizzo:</p>
                        <input class="form-control" placeholder="Note" ng-maxlength="999" ng-model="persistent.modificaIndirizzo.noteExtra" name="noteExtra" type="text" autofocus>
                    </div>               
                </div> 
    
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancelModificaIndirizzoButton()">Chiudi</button>
        <button type="button" class="btn btn-primary" ng-click="createModificaIndirizzoButton()" type="submit" ng-disabled="modificaIndirizzoForm.$invalid">Salva</button>
    </div>
    