<div class="modal-header" id="modalappuntamentocli">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelNewAppuntamentoCliButton()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Aggiungi un nuovo Appuntamento</h4>
</div>
<div class="modal-body">
    <form role="form" name="newAppuntamentoCliForm" novalidate>
        <fieldset>
            <div class="row">
                <div class="form-group col-sm-12 col-md-5" ng-class="{'has-error':!newAppuntamentoCliForm.startDate.$pristine && newAppuntamentoCliForm.startDate.$error.required}">
                    <p>Data Inizio Appuntamento:</p>

                    <div class="input-group" locale="it" moment-picker="transient.newAppuntamentoCli.appuntamento.startDate" format="DD/MM/YYYY HH:mm" start-view="month">
                        <input type="text" required readonly name="startDate" id="startDate" 
                        ng-model="transient.newAppuntamentoCli.appuntamento.startDate" class="form-control" >
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group col-sm-12 col-md-5" ng-class="{'has-error':!newAppuntamentoCliForm.endDate.$pristine && newAppuntamentoCliForm.endDate.$error}">
                    <p>Data Fine Appuntamento:</p>

                    <div class="input-group" locale="it" moment-picker="transient.newAppuntamentoCli.appuntamento.endDate" format="DD/MM/YYYY HH:mm" start-view="month">
                        <input type="text" readonly name="endDate" id="endDate" 
                        ng-model="transient.newAppuntamentoCli.appuntamento.endDate" class="form-control" >
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 form-group" ng-class="{'has-error':newAppuntamentoCliForm.descrizione.$error.required && !newAppuntamentoCliForm.descrizione.$pristine}">
                    <p>Descrizione:</p>                    
                     <textarea class="form-control" placeholder="inserire un appuntamento" required rows="3"
                            ng-model="transient.newAppuntamentoCli.appuntamento.descrizione" id="newAppuntamentoCli.descrizione">
                    </textarea> 
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelNewAppuntamentoCliButton()">Chiudi</button>
    <button type="button" class="btn btn-primary" ng-disabled="newAppuntamentoCliForm.$invalid" ng-click="createNewAppuntamentoCliButton()" type="submit">Salva</button>
</div>
