<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelNewClienteButton()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Inserisci Nuovo Cliente</h4>
</div>
<div class="modal-body">
    <form role="form" name="newClienteForm" novalidate> 
        <fieldset>
            <div class="row">
                <div class="col-sm-12 form-group" ng-class="{'has-error': newClienteForm.nome.$invalid && !newClienteForm.nome.$pristine}">
                    <p>Nome/Ragione Sociale*:</p>
                    <input class="form-control form-control-sm input-mini-xs" placeholder="Nome" name="nome" type="text" 
                    ng-model="transient.newCliente.nome" required
                    ng-maxlength="500">
                </div>   
            </div>           

            <div class="row">
                <div class="col-sm-12 col-md-8 form-group">
                    <p>Citta:</p>                    
                     <input type="text" name="f1-first-ricerca-comune" 
                        placeholder="Ricerca comune" 
                        id="campo-di-ricerca-comune-cliente"
                        ng-model="transient.newCliente.cittaObject"
                        ng-maxlength="250"
                        ng-change="getComuniWithTypeAhead()"
                        class="f1-first-ricerca-comune form-control" 
                        uib-typeahead="comune as comune.NOME for comune in elencoComuni" 
                        typeahead-on-select="onSelectClient($item, $model, $label)"                        
                        typeahead-min-length="3">  
                </div>               
                <div class="col-sm-12 col-md-1 form-group">
                    <p>Provincia:</p>
                    <input class="form-control" placeholder="" ng-model="transient.newCliente.provincia" name="provincia" type="text" disabled>
                </div>
                
                <div class="col-sm-12 col-md-2 form-group"  ng-class="{'has-error': newClienteForm.cap.$invalid && !newClienteForm.cap.$pristine}">
                    <p>Cap*:</p>
                    <input class="form-control" placeholder="" name="cap" type="text" disabled
                    ng-model="transient.newCliente.cap" required  ng-maxlength="5">
                </div>
            </div>            

            <div class="row">
                <div class="col-sm-12 col-md-7 form-group" ng-class="{'has-error': newClienteForm.indirizzo.$invalid && !newClienteForm.indirizzo.$pristine}">
                    <p>Indirizzo*:</p>
                    <input class="form-control" placeholder="Indirizzo" name="indirizzo" type="text"
                    ng-model="transient.newCliente.indirizzo" required ng-maxlength="500">
                </div> 
                <div class="col-sm-12 col-md-5 form-group">
                    <p>Note Extra Indirizzo:</p>
                    <input class="form-control" placeholder="Citta" ng-maxlength="999" ng-model="transient.newCliente.note_extra_indirizzo" name="note_extra_indirizzo" type="text" autofocus>
                </div>               
            </div> 

            <div class="row">
                <div class="col-sm-12 col-md-6 form-group" ng-class="{'has-error': newClienteForm.partita_iva.$invalid && !newClienteForm.partita_iva.$pristine}">
                    <p>Partita Iva*:</p>
                    <input class="form-control" placeholder="Partita Iva" ng-model="transient.newCliente.partita_iva" 
                    ng-required="!transient.newCliente.codice_fiscale"
                    ng-maxlength="11" ng-minlength="11"
                    ng-pattern="/^[0-9]{11}$/"
                    name="partita_iva" type="text" autofocus>
                    <span class="help-block small" ng-show="newClienteForm.partita_iva.$invalid && !newClienteForm.partita_iva.$pristine">Partita Iva non valida</span>
                </div>   
                <div class="col-sm-12 col-md-6 form-group" ng-class="{'has-error': newClienteForm.codiceFiscale.$invalid && !newClienteForm.codiceFiscale.$pristine}">
                    <p>Codice Fiscale*:</p>
                    <input class="form-control" placeholder="Codice Fiscale" ng-model="transient.newCliente.codice_fiscale" 
                    ng-required="!transient.newCliente.partita_iva" name="codiceFiscale"                     
                    ng-pattern="/^[a-zA-Z]{6}\d{2}[a-zA-Z]\d{2}[a-zA-Z]\d{3}[a-zA-Z]$/"
                    type="text" autofocus>
                    <span class="help-block small" ng-show="newClienteForm.codiceFiscale.$invalid && !newClienteForm.codiceFiscale.$pristine">Codice Fiscale non valido</span>
                </div>       
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-4 form-group" ng-class="{'has-error': newClienteForm.telefono.$invalid && !newClienteForm.telefono.$pristine}">
                    <p>Telefono*:</p>
                    <input class="form-control" required 
                    placeholder="Telefono" ng-model="transient.newCliente.telefono" name="telefono" type="text" autofocus ng-maxlength="30">
                </div>   
                <div class="col-sm-12 col-md-3 form-group" ng-class="{'has-error': newClienteForm.fax.$invalid && !newClienteForm.fax.$pristine}">
                    <p>Fax:</p>
                    <input class="form-control" placeholder="Fax" ng-model="transient.newCliente.fax" name="fax" type="text" autofocus ng-maxlength="30">
                </div>
                <div class="col-sm-12 col-md-5 form-group" ng-class="{'has-error': newClienteForm.mail.$invalid && !newClienteForm.mail.$pristine}">
                    <p>E-mail:</p>
                    <input class="form-control" placeholder="E-mail" ng-model="transient.newCliente.mail" name="mail" type="email" autofocus ng-maxlength="250">
                </div>       
            </div>

            <div class="row">            
                
                <div class="col-sm-12 col-md-6 form-group">
                    <p>IVA Applicata Prod:</p>
                    <select name="iva_applicata_prod" ng-model="transient.newCliente.iva_applicata_prod" class="form-control input-sm">
                        <option value="">{{labels.select_empty_value}}</option>
                        <option ng-repeat="ivaItem in listaIvaApplicata" value="{{ivaItem.CODICE}}">{{ivaItem.DESCRIZIONE}}</option>
                    </select>

                </div>
                <div class="col-sm-12 col-md-6 form-group">
                    <p>IVA Applicata Serv:</p>
                    <select name="iva_applicata_serv" ng-model="transient.newCliente.iva_applicata_serv" class="form-control input-sm">
                        <option value="">{{labels.select_empty_value}}</option>
                        <option ng-repeat="ivaItem in listaIvaApplicata" value="{{ivaItem.CODICE}}">{{ivaItem.DESCRIZIONE}}</option>
                    </select>
                    
                </div>                                        
            </div>

            <div class="row">
                <div class="col-sm-12  form-group">
                    <p>Note Cliente:</p>
                    <textarea class="form-control" placeholder="Note Cliente" ng-model="transient.newCliente.note_cliente" name="noteCliente" ng-maxlength="999"></textarea>
                </div>                         
            </div>
            
            <div class="row" ng-if="sezioneRichiamante =='nuovaFattura'">            
                <div class="col-sm-12 col-md-4 form-group">
                    <p>IBAN:</p>
                    <input class="form-control" placeholder="IBAN" 
                    ng-model="transient.newCliente.conto.iban" name="iban" type="text">
                </div>
                <div class="col-sm-12 col-md-4 form-group">
                    <p>Banca:</p>
                    <input class="form-control" placeholder="Banca" 
                    ng-model="transient.newCliente.conto.banca" name="banca" type="text">                    
                </div>
                <div class="col-sm-12 col-md-4 form-group">
                    <p>Conto - Note:</p>
                    <input class="form-control" 
                    ng-model="transient.newCliente.conto.note" name="conto-note" type="text">
                </div>                        
            </div>


        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelNewClienteButton()">Chiudi</button>
    <button type="button" class="btn btn-primary" ng-click="createNewClienteButton()" type="submit" ng-disabled="newClienteForm.$invalid">Salva</button>
</div>
