<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelCaricoArticoloButton()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Scarico</h4>
</div>
<div class="modal-body">

   <div class="search-bar bordered">
        <div class="row" ng-if="!transient.flagArticoloSelezionato && transient.paginaProvenienza=='home'">
            <div class="col-sm-12 col-md-9 form-group" >
                <p>Codice a Barre:</p>                    
                <input class="form-control form-control-sm"  name="transient.carico.filters.filtercodiceBarre" type="text" 
                ng-model="transient.carico.filters.filter.codiceBarre">
            </div>
            <div class="col-sm-12 col-md-3 form-group" >
                <p>&nbsp;</p>                    
                    <button type="button" class="btn btn-primary" ng-click="ricercaArticoloByCodiceBarre()" type="submit">Ricerca</button>
            </div>                
        </div>
        
        <div class="row" ng-if="transient.flagArticoloSelezionato">
            <div class="col-sm-12 col-md-9 form-group" >
                <p>Nome:{{persistent.articoloSelezionato.codiceArticolo}} </p> 
                <p>Marca:{{persistent.articoloSelezionato.marca}}</p>
                <p>Colore:{{persistent.articoloSelezionato.colore}}</p>                    
            </div>
            <div class="col-sm-12 col-md-3 form-group" ng-if="transient.paginaProvenienza=='home'">
                <p>&nbsp;</p>                    
                    <button type="button" class="btn btn-primary" ng-click="resetArticoloSelezionato()" type="submit">Reset</button>
            </div>                
        </div>

    </div>
   
   <div class="row"  ng-if="transient.mostraArticoloNonPresente">
        <div class="col-sm-12 form-group">
                <p>Articolo non censito in anagrafica Vuoi crearlo? <button type="button" class="btn btn-default" ng-click="gotoNuovoArticolo()">OK</button></p>                  
        </div>        
    </div>
    <div id="divCarico" ng-if="transient.flagArticoloSelezionato">
        <hr>
        <div class="row">
         <div class="col-sm-12 col-md-2 col-md-offset-5 form-group" >
                <p>Quantita:</p>                    
                <input class="form-control form-control-sm"  name="transient.scarico.qty"
                ng-model="transient.scarico.qty" type="number" min="1">
            </div>
         </div>

        <hr>
        <p>Elenco Scatoli suggeriti</p>
        <table ng-if="transient.listaScatoliScarico.length>0" class="table table-striped table-bordered table-advance table-hover">
            <thead>
                <tr>
                    <th><i class="fa fa-calendar"> </i> </th>  
                    <th><i class="fa fa-sticky-note-o"></i> Lotto</th>
                    <th><i class="fa fa-sticky-note-o"></i> Quantità Magazzino</th>
                    <th><i class="fa fa-sticky-note-o"></i> Quantità Scarico</th>
                    <th><i class="fa fa-calendar"></i> Data Scadenza</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" ng-repeat="scatolo in transient.listaScatoliScarico">
                    <td>
                        <input class="form-control form-control-sm"  name="scatolo.selected" type="checkbox" 
                        ng-model="scatolo.selected">
                    </td>     
                    <td>{{scatolo.lotto}}</td>
                    <td>{{scatolo.qty}}</td>    
                    <td>
                        <input class="form-control form-control-sm"  name="scatolo.qtyRelese" type="number" 
                        ng-model="scatolo.qtyRelese" min="0" max="{{scatolo.qty}}">
                    </td>
                    <td>{{scatolo.scadenza | date:'dd/MM/yyyy'}}</td>                  
                    
                </tr>
            </tbody>
        </table>
        
        <div class="row" style="text-align:center">
                <button type="button" class="btn btn-primary" ng-click="confermaScaricoArticoloButton()" type="submit">Conferma</button>
        </div>

    </div>
</div>
</div>
    <div class="modal-footer" >
        <button type="button" class="btn btn-default" ng-click="cancelCaricoArticoloButton()">Chiudi</button>
    </div>
