<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelNewArticoloButton()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Inserisci Nuovo Articolo</h4>
</div>
<div class="modal-body">
    <form role="form" name="newArticoloForm" novalidate> 
        <fieldset>
            <div class="row">
                <div class="col-sm-12 col-md-6 form-group" ng-class="{'has-error':newArticoloForm.codiceBarre.$invalid && !newArticoloForm.codiceBarre.$pristine}">
                    <p>Codice a Barre*:</p>
                    <input class="form-control form-control-sm "  name="codiceBarre" type="text" 
                    ng-model="transient.newArticolo.codiceBarre" ng-maxlength="15">
                </div>
                <div class="col-sm-12 col-md-6 form-group" ng-class="{'has-error':newArticoloForm.nome.$invalid && !newArticoloForm.nome.$pristine}">
                    <p>Nome*:</p>
                    <input class="form-control form-control-sm "  name="nome" type="text" 
                    ng-model="transient.newArticolo.nome" required ng-maxlength="70">
                </div>                 
            </div>                  

            <div class="row">                
                <div class="col-sm-12 col-md-4 form-group" ng-class="{'has-error':newArticoloForm.idCategoria.$invalid && !newArticoloForm.idCategoria.$pristine}">
                    <p>Categoria*:</p>
                    <select required name="categoria" 
                        ng-model="transient.newArticolo.idCategoria" class="form-control input-sm">
                        <option value="">{{labels.select_empty_value}}</option>
                        <option ng-repeat="catItem in listaCategorie" 
                        ng-selected="catItem.ID_CATEGORIA == transient.newArticolo.idCategoria"
                        value="{{catItem.ID_CATEGORIA}}">{{catItem.NOME_CATEGORIA}}</option>
                    </select>                    
                </div>
                <div class="col-sm-12 col-md-4 form-group" ng-class="{'has-error':newArticoloForm.udmLunghezza.$invalid && !newArticoloForm.udmLunghezza.$pristine}">
                    <p>UDM - Lunghezza*:</p>                    
                    <select required name="tipologia" 
                        ng-model="transient.newArticolo.udmLunghezza" class="form-control input-sm">
                        <option value="">{{labels.select_empty_value}}</option>
                        <option ng-repeat="tipolItem in listaUdmLunghezza" value="{{tipolItem.DESCRIZIONE}}">{{tipolItem.DESCRIZIONE}}</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-4 form-group" ng-class="{'has-error':newArticoloForm.lunghezza.$invalid && !newArticoloForm.lunghezza.$pristine}">
                    <p>Lunghezza*:</p>                    
                    <input class="form-control form-control-sm "  name="lunghezza" type="text" 
                    ng-model="transient.newArticolo.lunghezza" required >
                </div>                
            </div>
            
            <div class="row">                
                
                <div class="col-sm-12 col-md-3 form-group" ng-class="{'has-error':newArticoloForm.udmQtyInScatola.$invalid && !newArticoloForm.udmQtyInScatola.$pristine}">
                    <p>UDM - Diametro*:</p>                    
                    <select required name="tipologia" 
                        ng-model="transient.newArticolo.udmDiametro" class="form-control input-sm">
                        <option value="">{{labels.select_empty_value}}</option>
                        <option ng-repeat="tipolItem in listaUdmDiametro" value="{{tipolItem.DESCRIZIONE}}">{{tipolItem.DESCRIZIONE}}</option>
                    </select>
                </div>    
                <div class="col-sm-12 col-md-3 form-group" ng-class="{'has-error':newArticoloForm.diametro.$invalid && !newArticoloForm.diametro.$pristine}">
                    <p>Diametro*:</p>                    
                    <input class="form-control form-control-sm "  name="diametro" type="number" 
                    ng-model="transient.newArticolo.diametro" required ng-maxlength="10">
                </div> 

                <div class="col-sm-12 col-md-3 form-group" ng-class="{'has-error':newArticoloForm.udmQtyInScatola.$invalid && !newArticoloForm.udmQtyInScatola.$pristine}">
                    <p>UDM - Quantità in scatola*:</p>                    
                    <select required name="tipologia" 
                        ng-model="transient.newArticolo.udmQtyInScatola" class="form-control input-sm">
                        <option value="">{{labels.select_empty_value}}</option>
                        <option ng-repeat="tipolItem in listaQtyScatola" value="{{tipolItem.DESCRIZIONE}}">{{tipolItem.DESCRIZIONE}}</option>
                    </select>
                </div>    
                <div class="col-sm-12 col-md-3 form-group" ng-class="{'has-error':newArticoloForm.qtyInScatola.$invalid && !newArticoloForm.qtyInScatola.$pristine}">
                    <p>Quantità in scatola*:</p>                    
                    <input class="form-control form-control-sm "  name="qtyInScatola" type="number" 
                    ng-model="transient.newArticolo.qtyInScatola" required ng-maxlength="10">
                </div> 
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-12 col-md-4 col-md-offset-1 form-group" ng-class="{'has-error':newArticoloForm.timerScadenza.$invalid && !newArticoloForm.timerScadenza.$pristine}">
                    <p>Timer Scadenza*:</p>
                    <input class="form-control form-control-sm " name="timerScadenza"  
                    ng-model="transient.newArticolo.timerScadenza" 
                    type="number" ng-maxlength="15" required>                   
                    <span class="help-block small" ng-show="newArticoloForm.timerScadenza.$invalid">Numero non valido!</span>
                </div>
                
                <div class="col-sm-12 col-md-4 col-md-offset-2 form-group" >
                    <p>Timer Quantita in magazzino*:</p>                   
                    <input class="form-control form-control-sm "  name="minimoMagazzino"  
                    ng-model="transient.newArticolo.minimoMagazzino" 
                    type="number" ng-maxlength="15" required>    
                    <span class="help-block small" ng-show="newArticoloForm.minimoMagazzino.$invalid">Numero non valido!</span>
                
                </div>
                             
            </div>


        </fieldset>
    </form>
    <div class="row">
        <div class="col-sm-12">
            * Compilare tutti i campi con asterisco per abilitare il salva
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelNewArticoloButton()">Chiudi</button>
    <button type="button" class="btn btn-primary" ng-click="createNewArticoloButton()" type="submit" ng-disabled="newArticoloForm.$invalid">Salva</button>
</div>
