<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelCaricoArticoloButton()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Carico</h4>
</div>
<div class="modal-body">

   <div class="search-bar bordered">
        <div class="row" ng-if="!transient.flagArticoloSelezionato && transient.paginaProvenienza=='home'">
            <div class="col-sm-12 col-md-9 form-group" >
                <p>Codice a Barre:</p>                    
                <input class="form-control form-control-sm"  name="transient.carico.filters.filtercodiceBarre" type="text" 
                ng-model="transient.carico.filters.filter.codiceBarre">
            </div>
            <div class="col-sm-12 col-md-3 form-group" >
                <p>&nbsp;</p>                    
                    <button type="button" class="btn btn-primary" ng-click="ricercaArticoloByCodiceBarre()" type="submit">Ricerca</button>
            </div>                
        </div>
        
        <div class="row" ng-if="transient.flagArticoloSelezionato">
            <div class="col-sm-12 col-md-3 form-group" >
                <p>Nome: </p> 
                <p><b>{{persistent.articoloSelezionato.codiceArticolo}}</b></p>                                    
            </div>
            <div class="col-sm-12 col-md-3 form-group" >
                <p>Marca: </p> 
                <p><b>{{persistent.articoloSelezionato.marca}}</b></p>                                   
            </div>
            <div class="col-sm-12 col-md-3 form-group" >
                <p>Colore: </p> 
                <p><b>{{persistent.articoloSelezionato.colore}}</b></p>                                   
            </div>           
            <div class="col-sm-12 col-md-3 form-group" ng-if="transient.paginaProvenienza=='home'">
                <p>&nbsp;</p>                    
                    <button type="button" class="btn btn-primary" ng-click="resetArticoloSelezionato()" type="submit">Reset</button>
            </div>                
        </div>

        <div class="row" ng-if="transient.flagArticoloSelezionato">
            <div class="col-sm-12 col-md-3 form-group" >
                <p>Categoria: </p> 
                <p><b>{{persistent.articoloSelezionato.descCategoria}}</b></p>                                   
            </div>
            <div class="col-sm-12 col-md-3 form-group" >
                <p>Lunghezza: </p> 
                <p><b>{{persistent.articoloSelezionato.lunghezza}} {{persistent.articoloSelezionato.udmLunghezza}}</b></p>                                    
            </div>
            <div class="col-sm-12 col-md-3 form-group" >
                <p>Diametro: </p> 
                <p><b>{{persistent.articoloSelezionato.diametro}} {{persistent.articoloSelezionato.udmDiametro}}</b></p>                                    
            </div>   
             <div class="col-sm-12 col-md-3 form-group" >
                <p>Quantita in scatola: </p> 
                <p><b>{{persistent.articoloSelezionato.qtyInScatola}} {{persistent.articoloSelezionato.udmQtyInScatola}}</b></p>                                   
            </div>                         
        </div>

    </div>
    <div class="row"  ng-if="transient.mostraArticoloNonPresente">
        <div class="col-sm-12 form-group">
                <p>Articolo non censito in anagrafica Vuoi crearlo? <button type="button" class="btn btn-default" ng-click="gotoNuovoArticolo()">OK</button></p>                  
        </div>        
    </div>
    
    
    <div id="divCarico" ng-if="transient.flagArticoloSelezionato">        

        <hr>
        <form role="form" name="newCaricoStep1Form" novalidate autocomplete="off">
            <div class="row">
                <div class="col-sm-12 col-md-4 form-group">
                    <p>Numero Scatoli Totali:</p>
                    <input class="form-control form-control-sm "  name="numeroPezzi" type="number" min="1" 
                    ng-model="transient.nuovoLotto.numeroScatoli" ng-maxlength="15" required>
                </div>
                <div class="col-sm-12 col-md-5  form-group" ng-class="{'has-error':newCaricoStep1Form.nuovoLotto.idFornitore.$invalid && !newCaricoStep1Form.nuovoLotto.idFornitore.$pristine}">
                    <p>Fornitore:</p>                   
                    
                    <input type="text" name="f1-first-ricerca-fornitore" 
                        placeholder="Ricerca fornitore" 
                        id="campo-di-ricerca-comune-fornitore"
                        ng-model="transient.fornitoreObject"
                        ng-maxlength="250"
                        ng-change="getFornitoriWithTypeAhead()"
                        class="f1-first-ricerca-fornitore form-control" 
                        uib-typeahead="fornitore as fornitore.nome for fornitore in fornitori" 
                        typeahead-on-select="onSelectFornitore($item, $model, $label)"                        
                        typeahead-min-length="3" required>
                    <input type="hidden" ng-model="transient.nuovoLotto.idFornitore" name="nuovoLotto.idFornitore" required/>

                </div>
                <div class="col-sm-12 col-md-3  form-group">
                    <p>Stessa configurazione:</p>
                    <input class="form-control form-control-sm "  name="flagArticoliUguali" type="checkbox" 
                    ng-model="transient.flagArticoliUguali" >           
                </div>                         
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-4 form-group">
                    <p>Prezzo:</p>
                    <input class="form-control form-control-sm "  name="prezzoAcquisto" type="text" 
                    ng-model="transient.nuovoLotto.prezzoAcquisto" awnum="importoPositivo" required>           
                </div>
                <div class="col-sm-12 col-md-4 form-group">
                    <p>Data Inserimento:</p>               
                    <div class="input-group" locale="it" moment-picker="transient.nuovoLotto.dataInserimento" format="DD/MM/YYYY" start-view="month">
                                <input type="text" readonly required name="dataInserimento" id="dataInserimento" 
                                ng-model="transient.nuovoLotto.dataInserimento" class="form-control" >
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                    </div>
                </div>           
                
                <div class="col-sm-12 col-md-3 col-md-offset-1 form-group" >
                    <p>&nbsp;</p>   
                        <button type="button" class="btn btn-primary" ng-click="aggiungiPrimoArticolo()" type="submit" ng-disabled="newCaricoStep1Form.$invalid  && transient.mostraStep2Carico==false" >Applica</button>
                </div>
                    
            </div>
        </form>
        <hr>

        <form role="form" name="newCaricoStep2Form" novalidate ng-if="transient.mostraStep2Carico"> 
            <fieldset>
                <div class="row" ng-repeat="scatolo in transient.nuovoLotto.articoli" >
                    
                    <div class="col-sm-12 col-md-5 form-group" ng-class="{'has-error':scatolo.qty.$invalid && !scatolo.qty.$pristine}">
                        <p>Numero Scatoli*:</p>                       
                            <input type="text" required name="qty" id="qty" ng-disabled="transient.flagArticoliUguali"
                            ng-model="scatolo.qty" class="form-control">                       
                    </div>
                    <div class="col-sm-12 col-md-5 form-group" ng-class="{'has-error':scatolo.dataScadenza.$invalid && !scatolo.dataScadenza.$pristine}">
                        <p>Data Scadenza*:</p>
                        <div class="input-group" locale="it" moment-picker="scatolo.dataScadenza" format="DD/MM/YYYY" start-view="month">
                            <input type="text" required name="dataScadenza" id="dataScadenza" 
                            ng-model="scatolo.dataScadenza" class="form-control" >
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                         </div>
                    </div>
                    <div class="col-sm-12 col-md-2 form-group" >
                        <p>&nbsp;</p>
                            <button type="button" class="btn btn-primary" ng-click="rimuoviArticoloButton(scatolo)"  ng-if="!transient.flagArticoliUguali && $index!=0">Rimuovi</button>
                    </div>                    
                                                        
                </div>                  
                <div class="row" style="text-align:center" ng-if="transient.nuovoLotto.articoli.length > 0">
                    <button type="button" class="btn btn-primary" ng-click="aggiungiArticoloButton()"  ng-if="!transient.flagArticoliUguali">Aggiungi Scatolo</button>
                    <button type="button" class="btn btn-primary" ng-click="salvaCaricoArticoloButton()" type="submit" ng-disabled="newCaricoStep2Form.$invalid">Salva</button>
                </div>

            </fieldset>
        </form>
    </div>
</div>
</div>
    <div class="modal-footer" >
        <button type="button" class="btn btn-default" ng-click="cancelCaricoArticoloButton()">Chiudi</button>
    </div>
