<div id="wrapper" ng-controller="DettaglioArticoloController">   

    <div class="profile">
        <div class="tabbable-line tabbable-full-width">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Scheda Articolo</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Dati Articolo</a>
                                </li>
                                <li>
                                    <a href="#tab_1_2" ng-click="loadChartAndamento()" data-toggle="tab">Andamento Articolo</a>
                                </li>
                                <li>
                                    <a href="#tab_1_3" ng-click="loadChartCarico()" data-toggle="tab">Carico/Scarico</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- PERSONAL INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    <form role="form" name="editArticoloForm" novalidate> 
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-3 form-group" ng-class="{'has-error':editArticoloForm.codiceBarre.$invalid && !editArticoloForm.codiceBarre.$pristine}">
                                                    <p>Codice a Barre*:</p>
                                                    <input class="form-control form-control-sm "  name="codiceBarre" type="text" 
                                                    ng-model="persistent.articolo.codiceBarre" ng-maxlength="15">
                                                </div>
                                                <div class="col-sm-12 col-md-3 form-group" ng-class="{'has-error':editArticoloForm.codiceArticolo.$invalid && !editArticoloForm.codiceArticolo.$pristine}">
                                                    <p>Nome*:</p>
                                                    <input class="form-control form-control-sm "  name="codiceArticolo" type="text" 
                                                    ng-model="persistent.articolo.codiceArticolo" required ng-maxlength="70">
                                                </div>   
                                                <div class="col-sm-12 col-md-3 form-group" ng-class="{'has-error':editArticoloForm.idCategoria.$invalid && !editArticoloForm.idCategoria.$pristine}">
                                                    <p>Categoria*:</p>
                                                    <select required name="categoria" 
                                                        ng-model="persistent.articolo.idCategoria" class="form-control input-sm">
                                                        <option value="">{{labels.select_empty_value}}</option>
                                                        <option ng-repeat="catItem in listaCategorie" 
                                                        ng-selected="catItem.idCategoria == persistent.articolo.idCategoria"
                                                        value="{{catItem.idCategoria}}">{{catItem.nome}}</option>
                                                    </select>                    
                                                </div>  
                                                <div class="col-sm-12 col-md-3 form-group" ng-class="{'has-error':editArticoloForm.udmLunghezza.$invalid && !editArticoloForm.udmLunghezza.$pristine}">
                                                    <p>UDM - Lunghezza*:</p>                    
                                                    <select required name="udmLunghezza" ng-model="persistent.articolo.udmLunghezza" class="form-control input-sm">
                                                        <option value="">{{labels.select_empty_value}}</option>
                                                        <option ng-repeat="tipolItem in listaUdmLunghezza" 
                                                        ng-selected="tipolItem.ID_UDM == persistent.articolo.idUdmLunghezza" value="{{tipolItem.ID_UDM}}">{{tipolItem.DESCRIZIONE}}</option>
                                                    </select>
                                                </div>            
                                            </div>                  
                                
                                            <div class="row">                                                    
                                                <div class="col-sm-12 col-md-3 form-group" ng-class="{'has-error':editArticoloForm.lunghezza.$invalid && !editArticoloForm.lunghezza.$pristine}">
                                                    <p>Lunghezza*:</p>                    
                                                    <input class="form-control form-control-sm "  name="lunghezza" type="text" awnum="importoPositivo"
                                                    ng-model="persistent.articolo.lunghezza" required >
                                                </div>   
                                                <div class="col-sm-12 col-md-3 form-group" ng-class="{'has-error':editArticoloForm.udmDiametro.$invalid && !editArticoloForm.udmQtyInScatola.$pristine}">
                                                    <p>UDM - Diametro*:</p>                    
                                                    <select required name="udmDiametro" ng-model="persistent.articolo.udmDiametro" class="form-control input-sm">
                                                        <option value="">{{labels.select_empty_value}}</option>
                                                        <option ng-repeat="tipolItem in listaUdmDiametro"
                                                        ng-selected="tipolItem.ID_UDM == persistent.articolo.idUdmDiametro"
                                                        value="{{tipolItem.ID_UDM}}">{{tipolItem.DESCRIZIONE}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-12 col-md-3 form-group" ng-class="{'has-error':editArticoloForm.diametro.$invalid && !editArticoloForm.diametro.$pristine}">
                                                    <p>Diametro*:</p>                    
                                                    <input class="form-control form-control-sm "  name="diametro" awnum="importoPositivo"
                                                    ng-model="persistent.articolo.diametro" required >
                                                </div> 
                                
                                                <div class="col-sm-12 col-md-3 form-group" ng-class="{'has-error':editArticoloForm.udmQtyInScatola.$invalid && !editArticoloForm.udmQtyInScatola.$pristine}">
                                                    <p>UDM - Quantità in scatola*:</p>                    
                                                    <select required name="udmQtyInScatola" ng-model="persistent.articolo.udmQtyInScatola" class="form-control input-sm">
                                                        <option value="">{{labels.select_empty_value}}</option>
                                                        <option ng-repeat="tipolItem in listaQtyScatola"
                                                         ng-selected="tipolItem.ID_UDM == persistent.articolo.idUdmQtyInScatola"
                                                         value="{{tipolItem.ID_UDM}}">{{tipolItem.DESCRIZIONE}}</option>                                                         
                                                    </select>
                                                </div>           
                                            </div>
                                
                                            <div class="row">    
                                                <div class="col-sm-12 col-md-3 form-group" ng-class="{'has-error':editArticoloForm.qtyInScatola.$invalid && !editArticoloForm.qtyInScatola.$pristine}">
                                                    <p>Quantità in scatola*:</p>                    
                                                    <input class="form-control form-control-sm "  name="qtyInScatola" type="number" min="1"
                                                    ng-model="persistent.articolo.qtyInScatola" required ng-maxlength="10">
                                                </div>             
                                                <div class="col-sm-12 col-md-3 form-group" ng-class="{'has-error':editArticoloForm.marca.$invalid && !editArticoloForm.marca.$pristine}">
                                                    <p>Marca*:</p>
                                                    <input class="form-control form-control-sm "  name="marca" type="text" 
                                                    ng-model="persistent.articolo.marca" required ng-maxlength="10">                    
                                                </div>
                                                <div class="col-sm-12 col-md-3 form-group" ng-class="{'has-error':editArticoloForm.colore.$invalid && !editArticoloForm.colore.$pristine}">
                                                    <p>Colore*:</p>                    
                                                    <select required name="colore" 
                                                        ng-model="persistent.articolo.colore" class="form-control input-sm">
                                                        <option value="">{{labels.select_empty_value}}</option>
                                                        <option ng-repeat="colItem in listaColori" 
                                                        ng-selected="colItem.idColore == persistent.articolo.idColore"
                                                        value="{{colItem.idColore}}">{{colItem.idColore}} - {{colItem.descrizione}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-12 col-md-3 form-group" >
                                                    <p>Scorta in Magazzino:</p>                   
                                                    <input class="form-control form-control-sm "  name="qty"  
                                                    ng-model="persistent.articolo.qty" 
                                                    type="text"  readonly>    
                                                    <span class="help-block small" ng-show="editArticoloForm.minimoMagazzino.$invalid">Numero non valido!</span>
                                                
                                                </div>            
                                            </div>
                                
                                            <div class="row">
                                                <div class="col-sm-12 col-md-3 form-group" ng-class="{'has-error':editArticoloForm.timerScadenza.$invalid && !editArticoloForm.timerScadenza.$pristine}">
                                                    <p>Timer Scadenza*:</p>
                                                    <input class="form-control form-control-sm " name="timerScadenza"  
                                                    ng-model="persistent.articolo.timerScadenza" 
                                                    type="number" min="0" required>                   
                                                    <span class="help-block small" ng-show="editArticoloForm.timerScadenza.$invalid">Numero non valido!</span>
                                                </div>                                   
                                                <div class="col-sm-12 col-md-3 form-group" ng-class="{'has-error':editArticoloForm.minimoMagazzino.$invalid && !editArticoloForm.minimoMagazzino.$pristine}" >
                                                    <p>Timer Quantita in magazzino*:</p>                   
                                                    <input class="form-control form-control-sm "  name="minimoMagazzino"  
                                                    ng-model="persistent.articolo.minimoMagazzino" 
                                                    type="number" min="0"  required>    
                                                    <span class="help-block small" ng-show="editArticoloForm.minimoMagazzino.$invalid">Numero non valido!</span>
                                                
                                                </div>                                                
                                                <div class="form-group col-md-1 col-md-offset-1">
                                                        <p>&nbsp;</p>   
                                                    <a href="javascript:;" ng-click="updateArticolo()" class="btn green"> Salva modifiche articolo</a>
                                                    </div>           
                                            </div>
                                
                                
                                        </fieldset>
                                    </form>
									<div class="xs-col-12">
										<angular-barcode ng-model="persistent.articolo.codiceBarre" bc-options="bc" bc-class="barcode" bc-type="img"></angular-barcode>
									</div>
                                </div>
                                <div class="tab-pane" id="tab_1_2">
                                    <section class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div id="bar-chart-andamento"></div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="tab-pane" id="tab_1_3">
                                    <section class="container-fluid">
                                        <div class="row">                            
                                            <div class="col-md-10">
                                                <div id="bar-chart-magazzino"></div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			    <!--end tab-pane-->
        </div>
    </div>
</div>




