<div id="wrapper" ng-controller="DipendenteController">   
        <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">Gestione Dipendenti</h2>
                    </div>
                    <!-- /.col-lg-12 -->
        </div>
        <!-- tabella dipendenti --> 

        <div class="search-bar bordered">
            <div class="row">
                <div class="col-md-7">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="filters.filter.searchkey" ng-keydown="gotoSearch($event)" placeholder="Cerca per nome, cognome, cf o matricola...">
                        <span class="input-group-btn">
                            <button class="btn blue uppercase bold" ng-click="getAdvSearchDipendentiList()" type="button">Cerca</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-5">
                    
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                                Elenco Dipendenti
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                    
                        <table datatable="ng" 
                        dt-options="dtOptions" dt-column-defs="dtColumnDefs"
                        dt-instance="dtInstance"
                        width="100%" class="table table-striped table-bordered table-hover dtResponsive" id="dataTables-dipendenti">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-hashtag"></i> Matricola</th>                        
                                    <th><i class="fa fa-user"></i> Nome e Cognome</th>
                                    <th><i class="fa fa-calendar"></i> Data Assunzione</th>
                                    <th><i class="fa fa-file-text-o"></i> Contratto</th>
                                    <th><i class="fa fa-list-ol"></i> Livello</th>
                                    <th><i class="fa fa-eur"></i> Stipendio Base</th>
                                    <th><i class="fa fa-cogs"></i> Azioni</th>                           
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" ng-repeat="dipendente in dipendenti" ng-dblclick="dettaglioDipendente(dipendente.ID)">
                                    <td>{{dipendente.matricola}}</td>
                                    <td>{{dipendente.nome}} {{dipendente.cognome}}</td>
                                    <td>{{dipendente.assunzione  | date:"dd/MM/yyyy"}}</td>
                                    <td>{{dipendente.tipocontratto}}</td>
                                    <td>{{dipendente.livello}}</td>
                                    <td class="text-column-import">{{dipendente.stipendiobase | currency: "€" : 2}}</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Azioni
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-li" style="min-width: 100px; left: -60px;" role="menu">
                                                <li>
                                                    <a href="javascript:;" ng-click="askConfirmationDelete(dipendente.matricola)">
                                                        <i class="glyphicon glyphicon-trash"></i> Cancella </a>
                                                </li>
                                                
                                                <li>
                                                    <a href="javascript:;" ng-click="openModalEditDipendente(dipendente.matricola)">
                                                        <i class="glyphicon glyphicon-edit"></i> Modifica </a>
                                                </li>
                                            </ul>
                                        </div>
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- riga con bottoniera -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <button class="btn btn-primary btn-md" ng-click="openModalNewDipendente()"> <i class="fa fa-plus"></i>
                    Nuovo Dipendente
                </button>
            </div>
        </div>
 </div>
