<div id="wrapper" ng-controller="DettaglioFatturaController">   

    <div class="row">
        <div class="col-md-12">
            <!-- Begin: life time stats -->
            <div class="portlet light portlet-fit portlet-datatable bordered" style="background-color: transparent!important;border: none !important;margin: -25px 0px;box-shadow: none;">

                    <div class="tabbable-line">
                        <ul class="nav nav-tabs nav-tabs-lg">
                            
                        </ul>
                        <div class="tab-content" style="overflow-x: hidden;">
                            <div class="tab-pane active" id="tab_1">
                                <div class="row">
                                    <div class="col-md-3 col-sm-12">
                                        <div class="portlet yellow-crusta box">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-cogs"></i>Dettaglio Documento </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Documento #: </div>
                                                    <div class="col-md-7 value"> 
                                                        {{persistent.fattura.core.numero}}/{{persistent.fattura.core.annoRif}}
                                                    </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Data Doc.: </div>
                                                    <div class="col-md-7 value"> {{persistent.fattura.core.dataEmissione}} </div>
                                                </div>
                                                <div ng-show="persistent.fattura.core.tipoFattura!=='DDT'" class="row static-info">
                                                    <div class="col-md-5 name"> Stato Doc.: </div>
                                                    <div class="col-md-7 value">
                                                        <span class="label label-success"> {{persistent.fattura.core.statoFattura}}  </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet blue-hoki box">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-cogs"></i>Dettaglio Cliente </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="row static-info">
                                                    <div class="col-md-4 name"> Ragione Sociale: </div>
                                                    <div class="col-md-8 value"> {{clienteModel.NOME}} </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-4 name"> Telefono: </div>
                                                    <div class="col-md-8 value"> {{clienteModel.TELEFONO}} </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-4 name"> Cod.Fiscale/Part. Iva: </div>
                                                    <div class="col-md-8 value"> {{clienteModel.CODICE_FISCALE!==null && clienteModel.CODICE_FISCALE!==undefined && clienteModel.CODICE_FISCALE!==''?clienteModel.CODICE_FISCALE:'-'}} / {{clienteModel.PARTITA_IVA!==null && clienteModel.PARTITA_IVA!==undefined && clienteModel.PARTITA_IVA!==''?clienteModel.PARTITA_IVA:'-'}} </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <div class="portlet green-meadow box">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-cogs"></i>Indirizzi Cliente </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Città: </div>
                                                    <div class="col-md-7 value"> {{clienteModel.CITTA}} ({{clienteModel.PROVINCIA}}) </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Indirizzo: </div>
                                                    <div class="col-md-7 value"> {{clienteModel.INDIRIZZO}} </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-5 name"> Cap: </div>
                                                    <div class="col-md-7 value"> {{clienteModel.CAP}} </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet grey-cascade box">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-cogs"></i>Dettaglio articoli </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-bordered table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th> Codice </th>
                                                                <th> Descrizione </th>
                                                                <th ng-if="persistent.fattura.core.tipoFattura!=='DDT'"> Prezzo </th>
                                                                <th ng-if="persistent.fattura.core.tipoFattura!=='DDT'"> Totale </th>
                                                                <th> Iva </th>
                                                                <th ng-if="persistent.fattura.core.tipoFattura!=='DDT'"> Totale con Iva </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="articolo in persistent.fattura.righe">
                                                            <td>{{articolo.codiceArticolo}}</td>
                                                            <td>{{articolo.descrizione}}</td>
                                                            <td ng-if="persistent.fattura.core.tipoFattura!=='DDT'" class="text-column-import">{{articolo.prezzoUnitario | currency: "€" : 2}} </td>
                                                            <td ng-if="persistent.fattura.core.tipoFattura!=='DDT'" class="text-column-import"> {{articolo.totaleRiga | currency: "€" : 2}} </td>
                                                            <td> {{articolo.iva}} </td>
                                                            <td ng-if="persistent.fattura.core.tipoFattura!=='DDT'" class="text-column-import"> {{articolo.totaleRigaIvato | currency: "€" : 2}} </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="persistent.fattura.core.tipoFattura==='DDT' || persistent.fattura.core.tipoFattura==='FACC'" class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet grey-cascade box">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-cogs"></i>Condizioni trasporto </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="row static-info">
                                                    <div class="col-md-2 name"> Trasporto a cura: </div>
                                                    <div class="col-md-4 value"> {{persistent.fattura.core.trasportoACura}} </div>
                                                    <div class="col-md-1 name"> Nr. Colli: </div>
                                                    <div class="col-md-2 value"> {{persistent.fattura.core.numColli}} </div>
                                                    <div class="col-md-1 name"> Peso: </div>
                                                    <div class="col-md-2 value"> {{persistent.fattura.core.pesoKg}} </div>
                                                </div>
                                                <div class="row static-info">
                                                    <div class="col-md-2 name"> Conducente: </div>
                                                    <div class="col-md-4 value"> {{persistent.fattura.core.conducente}} </div>
                                                    <div class="col-md-1 name"> Note trasp: </div>
                                                    <div class="col-md-5 value"> {{persistent.fattura.core.noteTrasporto}} </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                                                 
                                </div>

                                <div ng-if="persistent.fattura.core.tipoFattura!=='DDT'" class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="portlet red-sunglo box">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-cogs"></i>Pagamenti </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="row static-info">
                                                        <div class="col-md-12 value" ng-repeat="pagamento in persistent.fattura.scadenza">      
                                                            <span class="form-group col-sm-4 col-md-offset-0">Scadenza: {{pagamento.scadenza | date : 'dd/MM/yyyy'}} 
                                                            </span>
                                                            <span  class="form-group col-sm-4 col-md-offset-0">Rata: {{pagamento.importo | currency: "€" : 2}}
                                                            </span>
                                                            <span  class="form-group col-sm-4 col-md-offset-0">Stato: {{pagamento.stato}}
                                                            </span>
                                                       </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                         <div class="col-md-6 col-sm-12">
                                            <div class="portlet grey-cascade box">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-cogs"></i>Totali </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="row static-info">
                                                        <div class="col-md-12 value">      
                                                            <span class="form-group col-sm-6 col-md-offset-0">Totale Fattura: {{persistent.fattura.totaleFattura | currency: "€" : 2}} 
                                                            </span>
                                                            <span  class="form-group col-sm-6 col-md-offset-0">Totale Fattura Ivato: {{persistent.fattura.totaleFatturaIvato | currency: "€" : 2}}
                                                            </span>
                                                       </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                         
                                    </div>

                            </div>
                            
                        </div>
                    </div>
                
            </div>
            <!-- End: life time stats -->
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary btn-md" ng-click="gotoElencoFatture(persistent.fattura.core.tipoFattura)"> <i class="fa fa-home"></i>
                Torna a Documenti
            </button>
            <button ng-show="persistent.fattura.core.tipoFattura!=='DDT' && persistent.fattura.core.tipoFattura!=='PROF' && persistent.fattura.core.tipoFattura!=='FACC'" class="btn green-meadow btn-md" ng-click="generaDdt(persistent.idFattura)"> <i class="fa fa-eur"></i>
                Genera ddt
            </button>
            <button ng-show="persistent.fattura.core.tipoFattura!=='DDT' && persistent.fattura.core.tipoFattura!=='PROF'" class="btn green-meadow btn-md" ng-click="openModalGeneraNDCR(persistent.idFattura)"> <i class="fa fa-eur"></i>
                Genera ndc
            </button>
            <button class="btn btn-success btn-md" ng-click="gotoNuovaFattura(persistent.fattura.core.tipoFattura)"> <i class="fa fa-plus"></i>
                Nuova
            </button>
            <button class="btn dark btn-outline btn-md" ng-click="creaPdfFattura(persistent.idFattura,persistent.fattura.core.tipoFattura)"> <i class="fa fa-print"></i>
                Stampa
            </button>
        </div>
    </div>

</div>


