<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelPagamentoMassimo()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Pagamento Fattura Massivo</h4>
</div>
<div class="modal-body">       
    <form role="form" name="pagamentoMassivoForm" novalidate> 
        <fieldset>    
        
            <div class="row">
                <div class="col-sm-6">  
                    <p>Codici fatture selezionate</p>  
                </div>
                <div class="col-sm-6">  
                    <p><b> {{elencoFattureSelezionate}} </b></p>  
                </div>
            </div>  
      
             <hr>

            <div class="row">
                <div class="col-sm-6" ng-class="{'has-error': pagamentoMassivoForm.massivoDataPagamento.$invalid && !pagamentoMassivoForm.massivoDataPagamento.$pristine}"> 
                    <p>Data di Pagamento*:</p> 
                    <div class="input-group" locale="it" 
                        moment-picker="massivo.datamovimento" style="width:95%"
                        format="DD/MM/YYYY" start-view="month">                                                            
                        <input class="form-control" required
                            type="text" name="massivoDataPagamento"                                        
                            id="id-massimo-data-pagamento" 
                            ng-model="massivo.datamovimento">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>  
                </div>
                <div class="col-sm-6" ng-class="{'has-error': pagamentoMassivoForm.massivoContoAzienda.$invalid && !pagamentoMassivoForm.massivoContoAzienda.$pristine}"> 
                <p>Conto Corrente*:</p> 
                <select class="form-control input-sm" style="width:95%" required name="massivoContoAzienda" ng-model="massivo.idConto">
                        <option value="">{{labels.select_empty_value}}</option>
                        <option ng-repeat="conto in elencoConti" value="{{conto.ID_CONTO}}">{{conto.DESCRIZIONE}} - {{conto.IBAN}}</option>
                    </select>  
                </div>
                
            </div>
        </fieldset>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="eseguiPagamentoMassivo()" type="submit" ng-disabled="pagamentoMassivoForm.$invalid">Paga</button>  
    <button type="button" class="btn btn-default" ng-click="cancelPagamentoMassimo()">Chiudi</button>    
</div>

