<div class="modal-header" id="modaleditpromemoria">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelEditPrimanotaButton()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Modifica voce/giroconto</h4>
</div>
<div class="modal-body">
    <form role="form" name="editPrimanotaForm" novalidate>
        <fieldset>
            <div class="row">
                <div class="form-group col-sm-12 col-md-5" ng-class="{'has-error':editPrimanotaForm.datamovimento.$error.required}">
                    <p>Data:</p>
                    <input type="text" class="form-control form-control-sm input-mini-xs" show-button-bar="false"
                           uib-datepicker-popup="dd/MM/yyyy"  placeholder="dd/MM/yyyy"
                           ng-model="transient.editPrimanota.DATAMOVIMENTO" is-open="date3.opened" ng-click="date3.opened=true"
                           datepicker-options="datePickerOptions" ng-required="true" 
                           close-text="Close"  />
                </div> 
                <div class="form-group col-sm-12 col-md-5" ng-class="{'has-error':editPrimanotaForm.descrizione.$error.required}">
                    <p>Descrizione:</p>
                    <input class="form-control" placeholder="Descrizione" ng-model="transient.editPrimanota.DESCRIZIONE" required name="descrizione" type="text">
                </div>          
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-5 form-group" ng-class="{'has-error':editPrimanotaForm.conto.$error.required}">
                    <p>Conto:</p>
                    <select required name="conto" ng-model="transient.editPrimanota.ID_CONTO" class="form-control input-sm select2-multiple">
                        <option ng-repeat="account in accountsList" ng-selected="account.ID_CONTO==transient.editPrimanota.ID_CONTO" value="{{account.ID_CONTO}}">{{account.DESCRIZIONE}}</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-5 form-group" ng-class="{'has-error':editPrimanotaForm.cliente.$error.required}">
                    <p>Cliente/Fornitore:</p>
                    <select required name="cliente" ng-model="transient.editPrimanota.ID_CLIENTE" class="form-control input-sm select2-multiple">
                        <option ng-repeat="customer in customersList" ng-selected="customer.ID==transient.editPrimanota.ID_CLIENTE" value="{{customer.ID}}">{{customer.NOME}}</option>
                    </select>
                </div> 
            </div> 

            <div class="row">
                <div class="col-sm-12 col-md-5 form-group" ng-class="{'has-error':editPrimanotaForm.entrata.$error.required}">
                    <p>Importo in entrata:</p>
                    <input class="form-control" placeholder="importo" ng-required="!transient.newPrimanota.uscita" ng-model="transient.editPrimanota.ENTRATA" name="entrata" type="text">
                </div>
                <div class="col-sm-12 col-md-5 form-group" ng-class="{'has-error':editPrimanotaForm.uscita.$error.required}">
                    <p>Importo in uscita:</p>
                    <input class="form-control" placeholder="importo" ng-required="!transient.newPrimanota.entrata" ng-model="transient.editPrimanota.USCITA" name="uscita"  type="text">
                </div>
                 
            </div>

        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelEditPrimanotaButton()">Chiudi</button>
    <button type="button" class="btn btn-primary" ng-click="editPrimanotaButton()" type="submit">Salva</button>
</div>
