<div id="wrapper" ng-controller="ClienteController">   
        <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">Elenco Clienti</h2>
                    </div>
                    <!-- /.col-lg-12 -->
        </div>
        <!-- tabella utenti --> 
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                                Elenco Clienti
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                    
                        <table datatable="ng" 
                        dt-options="dtOptions" dt-column-defs="dtColumnDefs"
                        dt-instance="dtInstance"
                        width="100%" class="table table-striped table-bordered table-hover dtResponsive" id="dataTables-clienti">
                            <thead>
                                <tr>                                
                                    <th><i class="fa fa-briefcase"> Nomes</th>
                                    <th><i class="fa fa-institution"> Citta</th>
                                    <th><i class="fa fa-home"> Provincia</th>
                                    <th><i class="fa fa-file-text-o"> Partita Iva</th>
                                    <th><i class="fa fa-cc"> Codice Fiscale</th>
                                    <th><i class="fa fa-phone"> Telefono</th>  
                                    <th><i class="fa fa-code"> Azioni</th>                          
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" ng-repeat="cliente in clienti">
                                    <td>{{cliente.NOME}}</td>
                                    <td>{{cliente.CITTA}}</td>
                                    <td>{{cliente.PROVINCIA}}</td>
                                    <td>{{cliente.PARTITA_IVA}}</td>
                                    <td>{{cliente.CODICE_FISCALE}}</td>
                                    <td>{{cliente.TELEFONO}}</td>
                                    <td class="text-center">
                                                                                
                                        <div class="btn-group hidden-xs">
                                            <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Azioni
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-li" style="min-width: 100px;" role="menu">
                                                <li>
                                                    <a href="javascript:;" ng-click="askConfirmationDelete(cliente.ID)">
                                                        <i class="glyphicon glyphicon-trash"></i> Cancella </a>
                                                </li>
                                                
                                                <li>
                                                    <a href="javascript:;" ng-click="openModalEditCliente(cliente.ID)">
                                                        <i class="glyphicon glyphicon-edit"></i> Modifica </a>
                                                </li>
                                            </ul>
                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- riga con bottoniera -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <button class="btn btn-primary btn-md" ng-click="openModalNewCliente()">
                    Nuovo Cliente
                </button>
            </div>
        </div>
 </div>
