<div ng-controller="UserController">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelEditUserButton()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Modifica Utente</h4>
</div>
<div class="modal-body">
    <form role="form" name="editUserForm" novalidate>
        <fieldset>         
            <div class="row">
                <div class="col-sm-12 form-group" ng-class="{'has-error': editUserForm.username.$invalid && !editUserForm.username.$pristine}">
                    <p>Username:</p>
                    <input class="form-control" placeholder="Username" ng-model="$parent.transient.editUser.USERNAME"
                     name="username" type="text" required>
                </div>   
            </div>   
            <div class="row">          
                <div class="col-sm-6 form-group" ng-class="{'has-error': editUserForm.profilo.$invalid && !editUserForm.profilo.$pristine}">
                    <p>Profilo:</p>
                        <select required name="profilo" 
                            ng-model="$parent.transient.editUser.IDPROFILO" class="form-control input-sm">
                            <option value="">{{labels.select_empty_value}}</option>
                            <option ng-selected="profilo.ID == $parent.transient.editUser.IDPROFILO"
                            ng-repeat="profilo in listaProfili" value="{{profilo.ID}}">{{profilo.DESCRIZIONE}}</option>
                        </select> 
                </div>
                <div class="col-sm-6 form-group" ng-class="{'has-error': editUserForm.email.$invalid && !editUserForm.email.$pristine}">
                    <p>Email:</p>
                    <input class="form-control" placeholder="E-Mail" ng-model="$parent.transient.editUser.EMAIL"
                     name="email" type="email" required>
                </div>         
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelEditUserButton()">Chiudi</button>
    <button type="button" class="btn btn-primary" ng-click="editUserButton()" type="submit" ng-disabled="editUserForm.$invalid">Salva</button>
</div>
</div>